.carousel_container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.slides { 
    width: 200px;
    height: 300px;
    object-fit: fill;
}
.actived {
    opacity: 1;
}
.blurry {
    opacity: 0.3; 
} 

