.carousel_container {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}
.slides { 
    vertical-align: middle;
    position: relative;
}
.actived {
    opacity: 1;
    z-index: 1;
}
.blurry {
    margin-top: 2.5%;
    opacity: 0.3; 
    z-index: 0;
} 
.blurry:hover {
    cursor: pointer;
}
.last {
    position: absolute;
    transform: skewY(-5deg);
}
.next {
    position: absolute;
    transform: skewY(5deg);
}